.navbar_main {
    background: rgba(102, 40, 146, 0.49);
}

.nav-link {
    color: white !important;
    font-family: Roboto;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0.05em !important;
}