.navbar_main {
    background: rgba(102, 40, 146, 0.49);
}

.nav-item a {
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0.05em !important;
    border-bottom: 2px solid transparent;
    padding-right: 2em;
    text-decoration: none;
}

.nav-item a:hover {
    border-bottom: 2px solid rgba(102, 40, 146, 0.49);
    text-decoration: none;
}

.logo_text {
    font-family: 'Pacifico', cursive;
    color: #fff !important;
    font-size: 40px !important;
}